AICORE_SERVICE_KEY={"serviceurls":{"AI_API_URL":"https://..."},"clientid":"...","clientsecret":"...","url":"https://..."}
destinations=[{"name": "capla-mcp-api", "url": "http://localhost:4005", "username": "alice", "password": "alice"}]
